<%- include('partials/header') %>

<div>
  <br>
  <br>
</div>


<div class= "container-fluid container-fluid-standard">
  <h1 class="h1-standard">About Us</h1>
  <p class="p-standard">Belief statement goes here.</p>
</div>
<%- include('partials/footer') %>
