<%- include('partials/header') %>

<div>
  <br>
  <br>
</div>


<div class="container-fluid container-fluid-standard">
  <h1 class="h1-standard h1-standard pl-xl-4 pl-lg-4 pl-md-3 pl-sm-2 px-2 pt-2">Connect</h1>
  <p class="p-standard px-xl-4 px-lg-4 px-md-3 px-sm-2 px-2 pb-2">You can connect to Cameron Creek Church through one of the ministries below. Have a question or comment?</p>
</div>
<br>

<div class="container-fluid container-fluid-standard centered">
  <br>
  <h1 class="h1-standard pl-xl-4 pl-lg-4 pl-md-3 pl-sm-2 px-2 pt-2">Ministries</h1>
  <br>
  <!-- card 1 -->
  <div class="container-fluid">
    <div class="container-fluid" style="width: 70%">
      <div class="card img-fluid">
        <img class="card-img-top card-img-darken card" src="images/rsz_worship.jpg" alt="Card image" style="width:100%">
        <div class="card-img-overlay">
          <h5 class="card-title card-text-white h5-standard">Sunday Morning Worship Service</h5>
          <p class="card-text card-text-white p-standard px-xl-4 px-lg-4 px-md-3 px-sm-2 px-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
      </div>
    </div>
      <!-- card 2 -->
      <div class="container-fluid" style="width: 70%">
        <div class="card img-fluid">
          <img class="card-img-top card-img-darken card" src="images/rsz_biblestudy.jpg" alt="Card image" style="width:100%">
          <div class="card-img-overlay">
            <h5 class="card-title card-text-white h5-standard">Wednesday Bible Study</h5>
            <p class="card-text card-text-white p-standard px-xl-4 px-lg-4 px-md-3 px-sm-2 px-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>
        </div>
      </div>
      <!-- card 3 -->
      <div class="container-fluid" style="width: 70%">
        <div class="card img-fluid">
          <img class="card-img-top card-img-darken card" src="images/rsz_smallgroup.jpg" alt="Card image" style="width:100%">
          <div class="card-img-overlay">
            <h5 class="card-title card-text-white h5-standard">Small Group</h5>
            <p class="card-text card-text-white p-standard px-xl-4 px-lg-4 px-md-3 px-sm-2 px-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>
        </div>
      </div>
      <!-- card 4 -->
      <div class="container-fluid" style="width: 70%">
        <div class="card img-fluid">
          <img class="card-img-top card-img-darken card" src="images/rsz_sundayschool.jpg" alt="Card image" style="width:100%">
          <div class="card-img-overlay">
            <h5 class="card-title card-text-white h5-standard">Sunday School</h5>
            <p class="card-text card-text-white p-standard px-xl-4 px-lg-4 px-md-3 px-sm-2 px-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>
        </div>
      </div>
      <!-- card 5 -->
      <div class="container-fluid" style="width: 70%">
        <div class="card img-fluid">
          <img class="card-img-top card-img-darken card" src="images/rsz_creekyouth.jpg" alt="Card image" style="width:100%">
          <div class="card-img-overlay">
            <h5 class="card-title card-text-white h5-standard">Creek Youth</h5>
            <p class="card-text card-text-white p-standard px-xl-4 px-lg-4 px-md-3 px-sm-2 px-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>
        </div>
      </div>
      <!-- card 6 -->
      <div class="container-fluid" style="width: 70%">
        <div class="card img-fluid">
          <img class="card-img-top card-img-darken card" src="images/rsz_cr.jpg" alt="Card image" style="width:100%">
          <div class="card-img-overlay">
            <h5 class="card-title card-text-white h5-standard">Celebrate Recovery</h5>
            <p class="card-text card-text-white p-standard px-xl-4 px-lg-4 px-md-3 px-sm-2 px-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>
        </div>
      </div>
      <br>
      <br>
    </div>
  </div>


<%- include('partials/footer') %>
