<%- include('partials/header') %>

<div>
  <br>
  <br>
</div>


<div class="container-fluid container-fluid-standard">
  <h1 class="h1-standard">Connect</h1>
  <p class="p-standard">You can connect to Cameron Creek Church through one of the ministries below. Have a question or comment?</p>
</div>
<br>

<div class="container-fluid container-fluid-standard centered">
  <br>
  <div class="container-fluid">

    <div class="row">
      <div class="col-xl-6 px-5">
        <div class="card img-fluid">
          <img class="card-img-top card-img-darken" src="/images/Worship.jpg" alt="Card image" style="width:100%">
          <div class="card-img-overlay">
            <h5 class="card-title card-text-white">Sunday Morning Worship Service</h5>
            <p class="card-text card-text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>
        </div>
      </div>
  
      <div class="col-xl-6 px-5">
        <div class="card img-fluid">
          <img class="card-img-top card-img-darken" src="images/bibleStudy.jpg" alt="Card image" style="width:100%">
          <div class="card-img-overlay">
            <h5 class="card-title card-text-white">Wednesday Bible Study</h5>
            <p class="card-text card-text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>
        </div>
      </div>
    <!-- </div> -->
    <!-- <br> -->
    <div class="w-100"></div>

          <!-- <div class="row"> -->
            <div class="col-xl-6 px-5">
              <div class="card img-fluid">
                <img class="card-img-top card-img-darken" src="images/smallGroup.jpg" alt="Card image" style="width:100%">
                <div class="card-img-overlay">
                  <h5 class="card-title card-text-white">Small Group</h5>
                  <p class="card-text card-text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
              </div>
            </div>
        
            <div class="col-xl-6 px-5">
              <div class="card img-fluid">
                <img class="card-img-top card-img-darken" src="images/sundaySchool.jpg" alt="Card image" style="width:100%">
                <div class="card-img-overlay">
                  <h5 class="card-title card-text-white">Sunday School</h5>
                  <p class="card-text card-text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
              </div>
            </div>
          <!-- </div> -->
          <!-- <br> -->
          <div class="w-100"></div>
            
                <!-- <div class="row"> -->
                  <div class="col-xl-6 px-5">
                    <div class="card img-fluid">
                      <img class="card-img-top card-img-darken" src="images/creekYouth.jpg" alt="Card image" style="width:100%">
                      <div class="card-img-overlay">
                        <h5 class="card-title card-text-white">Creek Youth</h5>
                        <p class="card-text card-text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                      </div>
                    </div>
                  </div>
              
                  <div class="col-xl-6 px-5">
                    <div class="card img-fluid">
                      <img class="card-img-top card-img-darken" src="images/cr.jpg" alt="Card image" style="width:100%">
                      <div class="card-img-overlay">
                        <h5 class="card-title card-text-white">Celebrate Recovery</h5>
                        <p class="card-text card-text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <br>
            </div>

<%- include('partials/footer') %>
