<%- include('partials/header') %>


<div class="container-fluid container-fluid-blue border border-dark mt-2 pb-3">
  <h1 class="h1-standard h1-standard pl-xl-4 pl-lg-4 pl-md-3 pl-sm-2 px-2 pt-2">Connect</h1>
  <p class="p-standard px-xl-4 px-lg-4 px-md-3 px-sm-2 px-2 pb-2">You're always welcome to connect with us in person. We can also be reached at 559-329-1842 or through our Facebook page. Just click the button, then click "message" near the top of the screen to contact us. We hope to hear from you!</p>
  <div class="pl-4 pb-3">
    <a class="btn btn-white" href="https://www.facebook.com/watch/Cameroncreekchurch/" role="button">CCC Facebook Page <i class="fas fa-external-link-square-alt"></i></a>
  </div>
</div>

<div class="container-fluid container-fluid-orange centered border border-dark mt-2">
  <h1 class="h1-standard pl-xl-4 pl-lg-4 pl-md-3 pl-sm-2 px-2 py-3">Ministries</h1>
  <div class="container-fluid">
    <div class="container-fluid" style="width: 95%">
      <div class="row no-gutters">
        <div class="col-xl-6">
          <div class="card img-fluid">
            <img class="card-img-top card-img-darken card" src="images/rsz_worship.jpg" alt="Card image" style="width:100%">
            <div class="card-img-overlay">
              <h5 class="card-title card-text-white h5-standard" id="worship">Sunday Morning Worship Service</h5>
              <p class="card-text card-text-white p-standard px-xl-4 px-lg-4 px-md-3 px-sm-2 px-2">9:45 am every Sunday in the sanctuary. Come join with us as we come together to learn, fellowship, and worship the Lord. No matter who you are or where you are in your life, you will be welcomed as a member of our family.</p>
            </div>
          </div>        
        </div>
        <div class="col-xl-6">
          <div class="card img-fluid">
            <img class="card-img-top card-img-darken card" id="biblestudy" src="images/rsz_biblestudy.jpg" alt="Card image" style="width:100%">
            <div class="card-img-overlay">
              <h5 class="card-title card-text-white h5-standard">Wednesday Night Bible Study</h5>
              <p class="card-text card-text-white p-standard px-xl-4 px-lg-4 px-md-3 px-sm-2 px-2">6:00 pm every Wednesday in the fellowship hall. A time where we gather to sip coffee and dig a bit deeper into the lessons of the Bible, while sharing our life experiences with one another. A time for casual fellowship and growing closer to the other members of our church family. Come listen and share with us! </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-xl-6">
          <div class="card img-fluid">
            <img class="card-img-top card-img-darken card" id="smallgroup" src="images/rsz_smallgroup.jpg" alt="Card image" style="width:100%">
            <div class="card-img-overlay">
              <h5 class="card-title card-text-white h5-standard">Small Group</h5>
              <p class="card-text card-text-white p-standard px-xl-4 px-lg-4 px-md-3 px-sm-2 px-2">Times and locations vary, contact us for details. Like a book club for Jesus, this is where we gather, together a handful at a time, to dig deep into current Christian books and learn new and better ways to live our lives for Jesus. Sometimes we laugh, sometimes we cry, but we always come away changed by the experience. Deeply moving and though provoking, you will grow closer to God and your church family.</p>
              <!-- <div class="pb-3">
                <a class="btn btn-white" href="https://www.facebook.com/groups/547700809390942/" role="button">Mighty Men of God Facebook <i class="fas fa-external-link-square-alt"></i></a>
              </div>             -->
            </div>
          </div>        
        </div> 
        <div class="col-xl-6">
          <div class="card img-fluid">
            <img class="card-img-top card-img-darken card" id="outreachministry" src="images/rsz_outreach.jpg" alt="Card image" style="width:100%">
            <div class="card-img-overlay">
              <h5 class="card-title card-text-white h5-standard">Outreach Ministry</h5>
              <p class="card-text card-text-white p-standard px-xl-4 px-lg-4 px-md-3 px-sm-2 px-2">Our ministry that reaches out to those most in need of a helping hand. We provide supplies, food, counseling, and other assistance.</p>
              <!-- <div class="pb-3">
                <a class="btn btn-white" href="https://www.facebook.com/groups/547700809390942/" role="button">Mighty Men of God Facebook <i class="fas fa-external-link-square-alt"></i></a>
              </div>             -->
            </div>
          </div>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-xl-6">
          <div class="card img-fluid">
            <img class="card-img-top card-img-darken card" id="creekyouth" src="images/rsz_creekyouth2.jpg" alt="Card image" style="width:100%">
            <div class="card-img-overlay">
              <h5 class="card-title card-text-white h5-standard">Creek Youth</h5>
              <p class="card-text card-text-white p-standard px-xl-4 px-lg-4 px-md-3 px-sm-2 px-2">Friday at 6:00 pm in the fellowship hall. Our all-ages youth group which emphasizes fun and fellowship as well as worship and learning. A safe space where parents and children can form new friendships and enjoy wholesome fun with fellow believers.</p>
              <!-- <div class="pb-3">
                <a class="btn btn-white" href="https://www.facebook.com/groups/547700809390942/" role="button">Mighty Men of God Facebook <i class="fas fa-external-link-square-alt"></i></a>
              </div>             -->
            </div>
          </div>     
        </div>
        <div class="col-xl-6">
          <div class="card img-fluid">
            <img class="card-img-top card-img-darken card" id="cr" src="images/rsz_cr.jpg" alt="Card image" style="width:100%">
            <div class="card-img-overlay">
              <h5 class="card-title card-text-white h5-standard">Celebrate Recovery</h5>
              <p class="card-text card-text-white p-standard px-xl-4 px-lg-4 px-md-3 px-sm-2 px-2">Wednesday at 7:00 pm in the fellowship hall. Not a 12-step program, but a program for finding healing regardless of whatever addiction, hurt, hang-up, or any other challenge you might be facing. Based on a biblical and balanced path to recovery, using the wisdom of Jesus Christ.</p>
              <!-- <div class="pb-3">
                <a class="btn btn-white" href="https://www.facebook.com/groups/547700809390942/" role="button">Mighty Men of God Facebook <i class="fas fa-external-link-square-alt"></i></a>
              </div>             -->
            </div>
          </div>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-xl-6">
          <div class="card img-fluid">
            <img class="card-img-top card-img-darken card" id="mightymenofgod" src="images/rsz_mens.jpg" alt="Card image" style="width:100%">
            <div class="card-img-overlay">
              <h5 class="card-title card-text-white h5-standard">Mighty Men of God</h5>
              <p class="card-text card-text-white p-standard px-xl-4 px-lg-4 px-md-3 px-sm-2 px-2">Times vary, contact us for details. Whether you are single or married, young or older, our Men’s Ministry will help you get the wisdom and tools to fight the good fight, stay encouraged, and be a faith-filled man of God.</p>
              <div class="pb-3">
                <a class="btn btn-white" href="https://www.facebook.com/groups/547700809390942/" role="button">Mighty Men of God Facebook <i class="fas fa-external-link-square-alt"></i></a>
              </div>            
            </div>
          </div>     
        </div>
        <div class="col-xl-6">
          <div class="card img-fluid">
            <img class="card-img-top card-img-darken card" id="womensministry" src="images/rsz_womens.jpg" alt="Card image" style="width:100%">
            <div class="card-img-overlay">
              <h5 class="card-title card-text-white h5-standard">Women's Ministry</h5>
              <p class="card-text card-text-white p-standard px-xl-4 px-lg-4 px-md-3 px-sm-2 px-2">Times vary, contact us for details. We’re a community of women seeking to find our spiritual place in this world and believe it’s best accomplished together. We want every woman to find a place to connect and grow in Christ.</p>
              <!-- <div class="pb-3">
                <a class="btn btn-white" href="https://www.facebook.com/groups/547700809390942/" role="button">Mighty Men of God Facebook <i class="fas fa-external-link-square-alt"></i></a>
              </div>             -->
            </div>
          </div>
          <br>
        </div>
      </div>
    </div>
  </div>
</div>


<%- include('partials/footer') %>
