<%- include('partials/header') %>

<div>
  <br>
</div>


<div class="jumbotron centered jumbotron-landing">
  <div class="container">
    <h1 class="display-3">Contact Page</h1>
    <!-- <p class="lead p-landing">We are not a perfect church and we are not perfect people, but we are working hard to create an environment where you and your loved ones can come every week to be surrounded by love and encouragement. We have chosen to reject judgment and condemnation, and instead be a church that leads people into a growing relationship with Jesus Christ. We like being a place where imperfect people are perfectly welcome. When you come here, we hope it feels like home!</p> -->
  </div>
</div>

<%- include('partials/footer') %>
