<%- include('partials/header') %>

<div>
  <br>
  <br>
</div>


<div class= "container-fluid container-fluid-standard">
  <h1 class="h1-standard">Give</h1>
  <p class="p-standard">Wish to support the work of Cameron Creek Church? Your generous giving makes Cameron Creek Church possible. Please use the link below to make your donation. Thank you.</p>
  <a class="link" href="https://www.mybridgeelementgiving.com/App/Giving/firs2907
  ">Give -></a>
  <br>
  <br>
</div>



<%- include('partials/footer') %>
