<%- include('partials/header') %>

<div>
  <br>
  <br>
</div>


<div class= "container-fluid container-fluid-standard">
  <h1 class="h1-standard">Give</h1>
  <p class="p-standard">Your generosity is making a difference! We believe in the power of generosity, what it does for the individual doing the giving, and the purpose the giving supports. As you give online, rest assured that all transactions are safe and secure.</p>
  <a class="btn btn-dark btn-pad" href="https://www.mybridgeelementgiving.com/App/Giving/firs2907" role="button">Give <i class="fas fa-external-link-square-alt"></i></a>
  <br>
  <br>
</div>



<%- include('partials/footer') %>
