<%- include('partials/header') %>

<div class= "container-fluid container-fluid-blue border border-dark mt-2">
  <h1 class="h1-standard pl-xl-4 pl-lg-4 pl-md-3 pl-sm-2 px-2 pt-2">Grow</h1>
  <p class="p-standard pl-xl-4 pl-lg-4 pl-md-3 pl-sm-2 px-2 pb-2">We are thrilled to offer our church family 100% free access to thousands of online Bible studies through our partnership with Rightnow Media. Grow in your faith walk by learning what the Bible has to say about love, work, finance, parenting, grief, marriage, worship and much more. It's like the Netflix of Bible studies! If you have already provided your email address to us, check your inbox (and spam folder) for an invitation from Rightnow Media. If you need to provide us your email address, you can do so by completing the connect information on this page.</p>
  <div class="pl-4 pb-3">
    <a class="btn btn-white" href="https://rightnowmedia.org" role="button">Rightnow Media <i class="fas fa-external-link-square-alt"></i></a>
  </div>
  <div class= "container-fluid centered mt-3">
      <img class="img-fluid pb-2" src="images/rightnow.jpeg" alt="Rightnow media ad">
  </div>
</div>
<%- include('partials/footer') %>