<%- include('partials/header') %>
<br>
<div class= "container-fluid container-fluid-logo centered">
    <!-- <img class="img-fluid" src="/images/cccLogoClear.png" alt="Cameron Creek Church logo"> -->
    <h1 class="h1-standard p-xl-4 p-lg-4 p-md-3 p-sm-2 p-2">Welcome to Cameron Creek Church</h1>
  </div>
</div>

<div class= "container-fluid container-fluid-standard mt-3">
  <h1 class="h1-standard pl-xl-4 pl-lg-4 pl-md-3 pl-sm-2 px-2 pt-2">Who Are We?</h1>
  <p class="p-standard px-xl-4 px-lg-4 px-md-3 px-sm-2 px-2">We are not a perfect church and we are not perfect people, but we are working hard to create an environment where you and your loved ones can come every week to be surrounded by love and encouragement. We have chosen to reject judgment and condemnation, and instead be a church that leads people into a growing relationship with Jesus Christ. We like being a place where imperfect people are perfectly welcome. When you come here, we hope it feels like home!</p>
  <button type="button" class="btn btn-outline-dark btn-pad mb-3">Learn More</button>
  <br>
</div>
<br>
<br>

<!-- Service Times Cards -->

<div class= "container-fluid container-fluid-standard centered">
  <h1 class="h1-home-times h1-standard" style="padding-left: 0rem;">Service Times</h1>
  <div class="container-fluid">

    <div class="row">
      <div class="col-lg-4">
        <div class="card" style="width: 90%;">
          <div class="card-body">
            <h4 class="card-title">Sunday</h4>
            <p class="card-text p-standard">Worship 9:45am</p>
            <button type="button" class="btn btn-outline-dark">Learn More</button>
          </div>
        </div>
      </div>
  
      <div class="col-lg-4">
        <div class="card" style="width: 90%;">
          <div class="card-body">
            <h4 class="card-title">Wednesday</h4>
            <p class="card-text p-standard">Bible Study 6:00pm</p>
            <button type="button" class="btn btn-outline-dark">Learn More</button>
            <br>
            <br>
            <p class="card-text p-standard">Celebrate Recovery 7:00pm</p>
            <button type="button" class="btn btn-outline-dark">Learn More</button>
          </div>
        </div>
      
      </div>
  
      <div class="col-lg-4">
        <div class="card" style="width: 90%;">
          <div class="card-body">
            <h4 class="card-title">Friday</h4>
            <p class="card-text p-standard">Creek Youth 6:00pm</p>
            <button type="button" class="btn btn-outline-dark">Learn More</button>
          </div>
        </div>
      </div>
    </div>
   
</div>
<br>
</div>



<%- include('partials/footer') %>
