<%- include('partials/header') %>
<div class="row mt-2 no-gutters">
  <div class="container-fluid container-fluid-orange w-25 border border-dark">
  </div>

  <div class="container-fluid container-fluid-blue w-75 border border-dark">
    <h1 class="h1-standard pl-xl-4 pl-lg-4 pl-md-3 pl-sm-2 pl-2 pt-3">Worship with Us</h1>
    <p class="p-standard pl-xl-4 px-lg-4 pl-md-3 pl-sm-2 pl-2 pb-2">In person or online. 9:45AM every Sunday.</p>
    <div class="pl-4 pb-3">
      <a class="btn btn-white" href="/connect#biblestudy" role="button">Join Us Online</a></div>
    </div>
  </div>
</div>
<div>
  <img style="width: 100%" src="images/family.jpg" alt="">
</div>

<div class="container-fluid">
  <h1 class="h1-home-times h1-standard centered py-3">Service Times</h1>
</div>

<div class="row px-2 no-gutters">
  <div class="container-fluid container-fluid-blue border border-dark centered" style="width: 32%;">
    <h1 class="card-title h1-standard py-4">Sunday</h1>
    <p class="card-text p-standard mb-0">Worship</p>
    <p class="p-standard">9:45 am</p>
    <a class="btn btn-white" href="/connect#worship" role="button">Learn More</a>
  </div>

  <div class="container-fluid container-fluid-orange border border-dark centered" style="width: 32%;">
    <h1 class="card-title h1-standard pt-2">Wednesday</h1>
    <p class="card-text p-standard mb-0">Bible Study</p>
    <p class="p-standard">6:00 pm</p>
    <div class="pb-3">
     <a class="btn btn-white" href="/connect#biblestudy" role="button">Learn More</a>
    </div>
      <p class="card-text p-standard mb-0">Celebrate Recovery</p>
      <p class="p-standard">7:00 pm</p>
    <div class="pb-3">
      <a class="btn btn-white" href="/connect#cr" role="button">Learn More</a>
    </div>
  </div>

  <div class="container-fluid container-fluid-blue border border-dark centered" style="width: 32%;">
    <h1 class="card-title h1-standard py-4">Friday</h1>
    <p class="card-text p-standard mb-0">Creek Youth</p>
    <p class="p-standard">6:00 pm</p>
    <a class="btn btn-white" href="/connect#creekyouth" role="button">Learn More</a>
  </div>
</div>
<div class="container-fluid p-2"><br>

</div>

<div class="row no-gutters">
  <div class="container-fluid container-fluid-blue border border-dark w-50">
    <h1 class="h1-standard pl-xl-4 pl-lg-4 pl-md-3 pl-sm-3 pl-2 pt-2">Who Are We?</h1>
    <p class="p-standard pl-xl-4 px-lg-4 pl-md-3 pl-sm-2 pl-2 pb-2">In person or online. 9:45AM every Sunday.</p>
    <div class="pl-4 pb-2">
      <a class="btn btn-white" href="/connect#biblestudy" role="button">Learn More</a>
    </div>
  </div>
  <div class="container-fluid container-fluid-orange border border-dark w-50">
    <img class="img-fluid" src="images/rsz_worship.jpg" alt="">
  </div>
</div>

<div class="row no-gutters">
  <div class="container-fluid container-fluid-blue border border-dark w-50" style="background-color: rgb(29, 29, 29);">
    <img class="img-fluid" src="images/rsz_mens.jpg" alt="">
  </div>
  <div class="container-fluid container-fluid-orange border border-dark w-50">
    <h1 class="h1-standard pl-xl-4 pl-lg-4 pl-md-3 pl-sm-3 pl-2 pt-2">Connect With Us</h1>
    <p class="p-standard pl-xl-4 px-lg-4 pl-md-3 pl-sm-2 pl-2 pb-2">Connect with us online or through one of our ministry events.</p>
    <div class="pl-4 pb-2">
      <a class="btn btn-white" href="/connect#biblestudy" role="button">Learn More</a>
    </div>

  </div>
</div>




  




<%- include('partials/footer') %>
