<%- include('partials/header') %>


<div class="jumbotron centered jumbotron-landing">
  <div class="container">
    <h1 class="display-3">Welcome to Stangiverse</h1>
    <p class="lead p-landing">The ultimate Mustang fan page</p>
  </div>
</div>

<%- include('partials/footer') %>
