<%- include('partials/header') %>
<div class="row mt-2 no-gutters mb-2">
  <div class="container-fluid container-fluid-orange w-25 border border-dark">
  </div>
  <div class="container-fluid container-fluid-blue w-75 border border-dark">
    <h1 class="h1-standard pl-xl-4 pl-lg-4 pl-md-3 pl-sm-2 pl-2 pt-3">Worship with Us</h1>
    <p class="p-standard pl-xl-4 px-lg-4 pl-md-3 pl-sm-2 pl-2 pb-2">Live 9:45 am every Sunday and 6:00 pm every Wednesday, in person or online, or see our previous messages.</p>
    <div class="pl-4 pb-3">
      <a class="btn-sm btn-white" href="/messages" role="button">Messages</a></div>
    </div>
  </div>
</div>

<div class="border border-dark">
  <img style="width: 100%" src="images/rsz_family.jpg" alt="">
</div>

<div class="container-fluid">
  <h2 class="h1-standard centered py-3">Service Times</h2>
</div>

<div class="row px-2 no-gutters">
  <div class="container-fluid container-fluid-blue border border-dark centered" style="width: 32%;">
    <h1 class="card-title h1-standard py-4">Sunday</h1>
    <p class="card-text p-standard mb-0">Worship</p>
    <p class="p-standard">9:45 am</p>
    <a class="btn-sm btn-white" href="/connect#worship" role="button">Learn More</a>
  </div>

  <div class="container-fluid container-fluid-orange border border-dark centered" style="width: 32%;">
    <h1 class="card-title h1-standard pt-2">Wednesday</h1>
    <p class="card-text p-standard mb-0">Bible Study</p>
    <p class="p-standard">6:00 pm</p>
    <div class="pb-3">
     <a class="btn-sm btn-white" href="/connect#biblestudy" role="button">Learn More</a>
    </div>
      <p class="card-text p-standard mb-0">Celebrate Recovery</p>
      <p class="p-standard">7:00 pm</p>
    <div class="pb-3">
      <a class="btn-sm btn-white" href="/connect#cr" role="button">Learn More</a>
    </div>
  </div>

  <div class="container-fluid container-fluid-blue border border-dark centered" style="width: 32%;">
    <h1 class="card-title h1-standard py-4">Friday</h1>
    <p class="card-text p-standard mb-0">Creek Youth</p>
    <p class="p-standard">6:00 pm</p>
    <a class="btn-sm btn-white" href="/connect#creekyouth" role="button">Learn More</a>
  </div>
</div>
<div class="container-fluid p-2"><br>

</div>

<div class="row no-gutters">
  <div class="container-fluid container-fluid-orange border border-dark w-50">
    <h1 class="h1-standard pl-xl-4 pl-lg-4 pl-md-3 pl-sm-3 pl-2 pt-1">Who Are We?</h1>
    <p class="p-standard pl-xl-4 px-lg-4 pl-md-3 pl-sm-2 pl-2 mb-2">We are a family built on the love of Jesus Christ.</p>
    <div class="pl-4 pb-1">
      <a class="btn-sm btn-white" href="/connect#biblestudy" role="button">Learn More</a>
    </div>
  </div>
  <div class="container-fluid container-fluid-orange border border-dark w-50">
    <img class="img-fluid" src="images/rsz_welcome.jpg" alt="">
  </div>
</div>

<div class="row no-gutters">
  <div class="container-fluid container-fluid-blue border border-dark w-50">
    <img class="img-fluid" src="images/rsz_connect.jpg" alt="">
  </div>
  <div class="container-fluid container-fluid-blue border border-dark w-50">
    <h1 class="h1-standard pl-xl-4 pl-lg-4 pl-md-3 pl-sm-3 pl-2 pt-1">Connect With Us</h1>
    <p class="p-standard pl-xl-4 px-lg-4 pl-md-3 pl-sm-2 pl-2 mb-2">Connect with us online or through our ministries.</p>
    <div class="pl-4 pb-1">
      <a class="btn-sm btn-white" href="/connect#biblestudy" role="button">Learn More</a>
    </div>

  </div>
</div>

<%- include('partials/footer') %>
