<%- include('partials/header') %>

<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v10.0" nonce="YGUl7aAJ"></script>

<div class= "container-fluid container-fluid-blue border border-dark mt-2 mb-2">
  <h1 class="h1-standard pl-xl-4 pl-lg-4 pl-md-3 pl-sm-2 px-2 pt-2">Messages</h1>
  <p class="p-standard pl-xl-4 pl-lg-4 pl-md-3 pl-sm-2 px-2 pb-2">Our Sunday morning worship services and Wednesday night Bible studies are recorded live and can be watched using the Facebook feed below, or you can click the button and go directly to our Facebook page.</p>
  <div class="pl-4 pb-3">
    <a class="btn btn-white" href="https://www.facebook.com/watch/Cameroncreekchurch/" role="button">CCC Facebook Page <i class="fas fa-external-link-square-alt"></i></a>
  </div>
</div>
<div class="container-fluid-orange centered border border-dark">
  <div class="fb-page" data-href="https://www.facebook.com/Cameroncreekchurch/" data-tabs="timeline" data-width="500" data-height="700" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="false"><blockquote cite="https://www.facebook.com/Cameroncreekchurch/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/Cameroncreekchurch/">First Jesus Name Church of Cameron Creek</a></blockquote></div>
  </div>
</div>

<%- include('partials/footer') %>
