<%- include('partials/header') %>

<div>
  <br>
  <br>
</div>


<div class= "container-fluid container-fluid-standard">
  <h1 class="h1-standard">Messages</h1>
  <p class="p-standard">Our Sunday morning worship services and Wednesday night Bible studies are recorded live and can be watched using the links below:</p>
  <br>
  <a class="btn btn-dark btn-pad" href="https://first-jesus-name-church-of-cameron-creek.freeonlinechurch.com/live" role="button">Cameron Creek Church at FreeOnlineChurch.com <i class="fas fa-external-link-square-alt"></i></a>
  <p class="p-standard">This link takes you to our lates video and has including an online Bible, note taking, and more.</p>
  <br>
  <br>
  <a class="btn btn-dark btn-pad" href="https://www.facebook.com/watch/Cameroncreekchurch/" role="button">Cameron Creek Church Facebook page <i class="fas fa-external-link-square-alt"></i></a>
  <p class="p-standard">This link takes you directly to the church's Facebook page.</p>
<br>
</div>

<%- include('partials/footer') %>
