<%- include('partials/header') %>

<div class="row mt-2 no-gutters">
  <div class="container-fluid container-fluid-orange w-25 border border-dark">
  </div>
  <div class="container-fluid container-fluid-blue w-75 border border-dark">
    <h1 class="h1-standard pl-xl-4 pl-lg-4 pl-md-3 pl-sm-2 pl-2 pt-3">New to Cameron Creek Church or Planning a Visit?</h1>
    <p class="p-standard pl-xl-4 px-lg-4 pl-md-3 pl-sm-2 pl-2 pb-2">New to Cameron Creek Church? It’s important to us that you feel right at home, right away. You should know that this is a place where you belong, you're welcome, and you're wanted. If you are looking for a judgement free zone where you can grow in your faith, you are in the right place. If you have any questions or are interested in receiving more information, please connect with us. We look forward to hearing from you!</p>
    <div class="pl-4 pb-3">
      <a class="btn btn-white" href="/connect" role="button">Connect with Us!</a>
    </div>
  </div>
</div>

<div class="row mt-2 no-gutters">
  <div class="container-fluid container-fluid-blue w-75 border border-dark">
    <h1 class="h1-standard pl-xl-4 pl-lg-4 pl-md-3 pl-sm-2 pl-2 pt-3">Who Are We?</h1>
    <p class="p-standard pl-xl-4 px-lg-4 pl-md-3 pl-sm-2 pl-2 pb-2">We're a family modeled after the love of Jesus Christ. We believe the love of Jesus Christ covers all sin and makes all believers one family, bound together through our Savior. We believe that no sin is unforgivable and no one is irredeemable. We don't believe in titles, formalities, or ceremonies; but choose to focus on a close relationship with Jesus based upon what the Bible reveals to us about Him.</p>
  </div>
  <div class="container-fluid container-fluid-orange w-25 border border-dark">
  </div>
</div>

<div class="row mt-2 mb-2 no-gutters">
  <div class="container-fluid container-fluid-orange w-25 border border-dark">
  </div>
  <div class="container-fluid container-fluid-blue w-75 border border-dark">
    <h1 class="h1-standard pl-xl-4 pl-lg-4 pl-md-3 pl-sm-2 pl-2 pt-3">What to Expect?</h1>
    <p class="p-standard pl-xl-4 px-lg-4 pl-md-3 pl-sm-2 pl-2 pb-2">Jesus told everyone to come as they are and that is the core philosophy of our church. You don't have to fix yourself before coming to church, just come. You don't need to dress up, just come. You don't need to change the way you talk, the way you act, who your friends are, or anything else. Just come as you are, right now. Jesus accepts all who seek him and he is waiting for you.</p>
  </div>
</div>

<%- include('partials/footer') %>
