<%- include('partials/header') %>

<div class="row mt-2 no-gutters">
  <div class="container-fluid container-fluid-orange w-25 border border-dark">
  </div>
  <div class="container-fluid container-fluid-blue w-75 border border-dark">
    <h1 class="h1-standard pl-xl-4 pl-lg-4 pl-md-3 pl-sm-2 pl-2 pt-3">New to Cameron Creek Church or Planning a Visit?</h1>
    <p class="p-standard pl-xl-4 px-lg-4 pl-md-3 pl-sm-2 pl-2 pb-2">New to Cameron Creek Church? It’s important to us that you feel right at home right away. We want you to know that this is a place where you belong, you're welcome, and you're wanted. If you are looking for a judgement free zone where you can grow in your faith, you are in the right place. If you have any questions or are interested in receiving more information, please connect with us. We look forward to hearing from you!</p>
    <div class="pl-4 pb-3">
      <a class="btn btn-white" href="/connect" role="button">Connect with Us!</a>
    </div>
  </div>
</div>

<div class="row mt-2 no-gutters">
  <div class="container-fluid container-fluid-blue w-75 border border-dark">
    <h1 class="h1-standard pl-xl-4 pl-lg-4 pl-md-3 pl-sm-2 pl-2 pt-3">What to Expect?</h1>
    <p class="p-standard pl-xl-4 px-lg-4 pl-md-3 pl-sm-2 pl-2 pb-2">Expect to be treated with love and respect. Expect simplicity and honesty. The highest commandment is to love your neighbor and we take that to heart. Everyeone is welcome, and we mean everyone. We aren't into titles, formalties, and ceremonies. You'll be greeted with at least a handshake and probably a hug. Sit where you want. Dress how you're comfortable. We don't have a dress code and that is on purpose. What matters most to us is that you celebrate the love of God with us. We welcome those who have it together, and those who struggle. Eveyone has a place here.</p>
  </div>
  <div class="container-fluid container-fluid-orange w-25 border border-dark">
  </div>
</div>

<div class="row mt-2 no-gutters">
  <div class="container-fluid container-fluid-orange w-25 border border-dark">
  </div>
  <div class="container-fluid container-fluid-blue w-75 border border-dark">
    <h1 class="h1-standard pl-xl-4 pl-lg-4 pl-md-3 pl-sm-2 pl-2 pt-3">Who Are We?</h1>
    <p class="p-standard pl-xl-4 px-lg-4 pl-md-3 pl-sm-2 pl-2 pb-2">We are a family joined together by the love of Jesus Christ and by His simple message: "All are welcome into the family of God." This invitation is given freely to all people. Our church is made up of those who have accepted this invitation and who believe that Jesus Christ has the answers for the troubles of this life and a promise of a better life to follow. </p>
  </div>
</div>

<div class="row mt-2 no-gutters">
  <div class="container-fluid container-fluid-blue w-75 border border-dark">
    <h1 class="h1-standard pl-xl-4 pl-lg-4 pl-md-3 pl-sm-2 pl-2 pt-3">What We Believe</h1>
    <p class="p-standard pl-xl-4 px-lg-4 pl-md-3 pl-sm-2 pl-2 pb-2">-</p>
  </div>
  <div class="container-fluid container-fluid-orange w-25 border border-dark">
  </div>
</div>

<h1 class="h1-standard pl-xl-4 pl-lg-4 pl-md-3 pl-sm-2 pl-2 pt-3">Who Are We?</h1>
<p class="p-standard pl-xl-4 px-lg-4 pl-md-3 pl-sm-2 pl-2 pb-2">We're a family founded on the love of Jesus Christ. We believe the love of Jesus Christ covers all sins and makes all believers one family, bound together through our Savior. We believe that no sin is unforgivable and no one is irredeemable. We don't believe in titles, formalities, or ceremonies; but choose to focus on a close relationship with Jesus based upon what the Bible reveals to us about Him.</p>

<h1 class="h1-standard pl-xl-4 pl-lg-4 pl-md-3 pl-sm-2 pl-2 pt-3">What to Expect?</h1>
<p class="p-standard pl-xl-4 px-lg-4 pl-md-3 pl-sm-2 pl-2 pb-2">Jesus told everyone to come to Him as they are, and that is the core philosophy of our church. You don't have to fix yourself before coming to church, just come. You don't need to dress up, just come. You don't need to change the way you talk, the way you act, who your friends are, or anything else. Just come as you are, right now. Jesus accepts all who seek him and he is waiting for you.</p>



<%- include('partials/footer') %>
