<%- include('partials/header') %>

<div>
  <br>
  <br>
</div>


<div class="container-fluid container-fluid-standard">
  <h1 class="h1-standard pl-xl-4 pl-lg-4 pl-md-3 pl-sm-2 px-2 pt-2">New to Cameron Creek Church or Planning a Visit?</h1>
  <p class="p-standard pl-xl-4 pl-lg-4 pl-md-3 pl-sm-2 px-2 pb-2">New to Cameron Creek Church? It’s important to us that you feel right at home, right away. You should know that this is a place where you belong, you're welcome, and you're wanted. If you are looking for a judgement free zone where you can grow in your faith, you are in the right place. If you have any questions, are interested in receiving more information, or just want to say “hi", please provide us with your contact information. We look forward to hearing from you!</p>
  <button type="button" class="btn btn-outline-dark btn-pad mb-3">Connect with us!</button>
</div>
<div class= "container-fluid container-fluid-standard mt-3">
  <h1 class="h1-standard pl-xl-4 pl-lg-4 pl-md-3 pl-sm-2 px-2 pt-2">What to Expect?</h1>
  <p class="p-standard pl-xl-4 pl-lg-4 pl-md-3 pl-sm-2 px-2 pb-2">New to Cameron Creek Church? It’s important to us that you feel right at home, right away. You should know that this is a place where you belong, you're welcome, and you're wanted. If you are looking for a judgement free zone where you can grow in your faith, you are in the right place. If you have any questions, are interested in receiving more information, or just want to say “hi", please provide us with your contact information. We look forward to hearing from you!</p>
</div>
<div class= "container-fluid container-fluid-standard mt-3">
  <h1 class="h1-standard pl-xl-4 pl-lg-4 pl-md-3 pl-sm-2 px-2 pt-2">What Should You Do?</h1>
  <p class="p-standard pl-xl-4 pl-lg-4 pl-md-3 pl-sm-2 px-2 pb-2">New to Cameron Creek Church? It’s important to us that you feel right at home, right away. You should know that this is a place where you belong, you're welcome, and you're wanted. If you are looking for a judgement free zone where you can grow in your faith, you are in the right place. If you have any questions, are interested in receiving more information, or just want to say “hi", please provide us with your contact information. We look forward to hearing from you!</p>
</div>


<%- include('partials/footer') %>
