
.navbar {
  position: fixed;
  width: 100%;
  font-size: 1.25rem;
  /* border-bottom-left-radius:40px;
  border-bottom-right-radius:40px; */
  z-index: 2;
  
}

/* .row {
  width: 100%;
} */

:root {
  scroll-padding-top: 8rem;
}

body {
background-color: #ffffff;
/* background-image: url("https://www.transparenttextures.com/patterns/beige-paper.png"); */
}

.container-fluid {
  padding: 0 !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.container-fluid-blue {
  color: white;
  background-color: #64c1ff;
}

.container-fluid-orange {
  color: white;
  background-color: #fd7200;
}
  
/* .h1-standard {
  padding-left: 2rem;
  padding-top: 1.5rem;
  
} */

.btn-blue {
  background: #64c1ff;
  color: #ffffff;
  border-color: white;
}

.btn-white {
  background: #ffffff;
  color: #000000;
  border-color: rgb(0, 0, 0);
}

.btn-white-transparent {
  background: #ffffff;
  /* color: #000000; */
  border-color: rgb(255, 255, 255);

}

.p-standard {
  font-size: 1.25rem;
  /* padding-top: 1rem;
  padding-left: 2rem;
  padding-right: 2rem; */
}

.centered {
    text-align: center;
}

/* .p-home-times {
  font-size: 1.25rem;
  padding-left: 1.5rem;
  padding-bottom: 0rem;
  padding-top: 0rem;
} */

.h1-home-times {
 /* text-align: center; */
 /* padding-top: 2rem;
 padding-bottom: 2rem; */
}

.card {
  /* margin: 0 auto; */
  /* border-top-left-radius:10px;
  border-top-right-radius:10px;
  border-bottom-left-radius:10px;
  border-bottom-right-radius:10px; */
  /* background-color: #ff966d; */
  /* background-image: url("https://www.transparenttextures.com/patterns/rocky-wall.png"); */
  /* background-color: rgb(83, 211, 250); */



}

.link {
  padding-left: 2rem;
}

.btn-pad {
  margin-left: 1rem;
}

.card-img-darken {
  filter: brightness(50%);
}

.card-text-white {
  color: white;
  /* margin-right: 2rem;
  margin-left: 2rem; */
  /* line-height: .75rem; */
}

/* Custom Bootstrap breakpoints */
 
.h1-standard {font-size:1rem;}
.h1-home-times {font-size:1rem;}
h5 {
  font-size:1rem;
  line-height: 1rem;
}
.p-standard {
  font-size:.9rem;
  line-height: .9rem;
  }


@media (min-width: 576px) {  
  .h1-standard {font-size:1.25rem;}
  .h1-home-times {font-size:1.25rem;}
  h5 {
    font-size:1.25rem;
    line-height: 1.5rem;
  }
  .p-standard {
    font-size:.9rem;
    line-height: .9rem;
  }
}
 
@media (min-width: 768px) {  
  .h1-standard {font-size:1.5rem;}
  .h1-home-times {font-size:1.5rem;}
  h5 {font-size:1.25rem;}
  .p-standard {
    font-size:1.1rem;
    line-height: 1.3rem;
  }
}
 
@media (min-width: 992px) { 
  .h1-standard {font-size:1.75rem;}
  .h1-home-times {font-size:1.75rem;}
  h5 {font-size:1.25rem;}
  .p-standard {
    font-size:1.3rem;
    line-height: 1.5rem;
  }
}

@media (min-width: 1200px) {  
  .h1-standard {font-size:1.8rem;}
  .h1-home-times {font-size:1.8rem;}
  h5 {font-size:1.5rem;}
  .p-standard {
    font-size:1.3rem;
    line-height: 1.5rem;
  }
}
