
body {
  /* background-color: #fff;
background-image: url("https://www.transparenttextures.com/patterns/fabric-1-light.png"); */
width: 1920px;
    background: url("https://picsum.photos/id/1000/1920/1080") top right no-repeat;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
}

.jumbotron-landing {
  background: none;
  /* background-color: #fff; */
  /* background-image: url("https://picsum.photos/id/1000/1920/1080"); */

}

.p-landing {
  background-color: #fff;
}

.centered {
    padding: 50px;
    text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
}

.jumbotron-landing {
  background-color: #ffffff;
}

.p-landing {
  font-size: 2rem;
}

.card-img {
  width: 100%!important;
  height: 150px!important;
  object-fit: cover;
}